<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django_blog{% endblock %}</title>
</head>
<body>
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'articles_create' %}">Новая статья</a></li>
                <li><a href="{% url 'articles' %}">Статьи</a></li>
                <li><a href="{% url 'about' %}">О блоге</a></li>
            </ul>
        {% endblock %}
    </div>
    <div id="content">
        <div>
            {% if messages %}
                <div>
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>